body {
  background-color: #eeeeee;
}

nav ul a,
nav .brand-logo {
  color: rgba(255,255,255,.8);
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: rgba(255,255,255,.8);
}

.parallax-container {
  text-shadow: 2px 2px 2px black;
  width:100%;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.pic {
  height:300px;
  width:30%;
  margin-top: 100px;
  margin-bottom: 30px;
  border-radius: 10%;
  background: url(../profpic.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}